
    <a id="menu-toggle" href="#" class="btn btn-purple btn-lg toggle"><i class="fa fa-bars"></i></a>
	<div id="sidebar-wrapper" >
		<ul class="sidebar-nav">
			<a id="menu-close" href="#" class="btn btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
			<li class="sidebar-brand">
				<a href="#" class="nav-title">Chocoyo Labs</a>
				<li><a class="page-scroll" href="#headerContent">Inicio</a></li>
				<li><a class="page-scroll" href="#about">Quienes somos?</a></li>
				<li><a class="page-scroll" href="#services">Que hacemos?</a></li>
				<li><a class="page-scroll" href="#portfolio">Nuestros trabajos</a></li>
				<li><a class="page-scroll" href="#team">Conoce el equipo</a></li>
				<li><a class="page-scroll" href="#customers">Quienes son nuestros clientes?</a></li>
				<li><a class="page-scroll" href="#contact">Como contactarnos?</a></li>
		</ul>
	</div>
